* {
	margin: 0;
	padding: 0;
}

body {
	display: block;
	overflow: hidden;
}

h1 {
	color: navy;
	text-align: center;
	margin-top: 1px;
}

/* Style the navigation bar */
.navbar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
	background-color: white;
	overflow: hidden;
	align-content: center;
}

/* Navbar links */
.navbar a {
	float: left;
	color: rgb(6, 70, 99);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 20px;
}

.navmenu {
	font-size: 20px;
	float: right;
	display: flex;
	justify-content: space-between;
	float: right;
	flex-wrap: nowrap;
	align-items: center;
	padding: 10px;
	padding-top: 0px;
}

.actionredirect {
	margin: 2px;
	border-color: blue;
}

.actionredirect:menu-list-a {
	padding: 0px;
}

.menu-list {
	padding: 0px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
	background-color: rgb(236, 179, 101, 0.3);
}

.logo {
	padding-left: 20px;
	font-size: 150%;
	flex-wrap: inherit;
	padding-top: 7px;
	padding-bottom: 6px;
	color: #ECB365;
	border-radius: 50px;
	background-color: rgb(6, 70, 99, 0.9);
	padding-right: 22px;
	color: #ECB365;
	height: 50%;
}

span {
	padding-right: 40px;
	color: navy;
}

img {
	width: 100%;
	height: 500px;
}

.main {
	margin: 1px;
	display: flex;
	flex-direction: row;
}

.dashboard {
	background-color: #074968;
	height: 460px;
	padding: 20px;
	margin: 0;
	line-height:1.8;
	width: 25%;
}

.img{
	width: 100%;
	height: 495px;
}

.dropdown {
	float: left;
	overflow: hidden;
	color: #feeee0;
}

.dropdown .dropbtn {
	font-size: 23px;
	border: none;
	outline: none;
	color: rgb(236, 179, 101, 1.7);
	padding: 12px 12px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
	font-size: 25px;
}

.dashboard a:hover, .dropdown:hover .dropbtn {
	background-color: white;
	color: #074968;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(236, 179, 101, 1.7);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	background-color: FF00FF;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: FF00FF;
}

.text-danger {
	color: red;
	font-size: 15px;
}

footer {
	padding: 10px;
	background-color: #04293A;
	color: #ECB365;
	text-shadow: black;
	text-align: center;
	text-shadow: black;
	text-shadow: black;
}

iframe {
	height: 500px;
	width: 800px;
}