@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	display: block;
	overflow-x: hidden;
}

h1 {
	color: navy;
	text-align: center;
	font-family: sans-serif;
	margin-top: 1px;
}


/* Style the navigation bar */
.navbar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
	background-color: white;
	overflow: hidden;
	align-content: center;
}

/* Navbar links */
.navbar a  {
	float: left;
	color: rgb(6, 70, 99);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 17px;
}

.navmenu {
	font-size: 20px;
	float: right;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	padding: 10px;
}


/* Navbar links on mouse-over */
.navbar a:hover {
	background-color: rgb(236, 179, 101, 0.3);
}

.logo {
	padding-left: 20px;
	font-size: 150%;
	flex-wrap: inherit;
	padding-top: 18px;
	color: #ECB365;
	border-radius: 50px;
	background-color: rgb(6, 70, 99, 0.9);
	padding-right: 20px;
}

span {
	padding-right: 40px;
	color: navy;
}

#root {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 144px;
	color: rgb(236, 179, 101, 0.5);
}

#form {
	margin: auto;
	width: 50%;
	line-height: 30px;
	padding: 15px;
}

.text-danger {
	color: red;
	font-size: 15px;
}

.container {
	max-width: max-content;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	align-items: flex-start;
	min-height: 100vh;
	justify-content: center;
}

table {
	table-layout: auto;
	width: 100%;
	display: table;
	border-collapse: separate;
	box-sizing: border-box;
	text-indent: initial;
	border-spacing: 2px;
	border-color: grey;
}

footer {
	padding: 10px;
	background-color: #04293A;
	color: #ECB365;
	text-shadow: black;
	text-align: center;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-transform: capitalize;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: rgb(236, 179, 101, 0.3);
}
tr:hover{
 color :rgb(6, 70, 99, 0.9); 
}
a{
text-decoration: none;
color:inherit;
}






/* Style inputs, select elements and textareas */
input[type=text], [type=email], [type=date], [type=password], [type=tel],
	select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	text-transform: capitalize;
}

/* Style the label to display next to the inputs */
label {
	padding: 10px 10px 10px 0;
	display: inline-block;
	text-shadow: black;
}

/* Style the submit button */
input[type=submit] {
	background-color:rgb(192, 192, 192);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

/* Style the container */
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
	float: left;
	width: 25%;
	margin-top: 0px;
}

/* Floating column for inputs: 75% width */
.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

#formbuttons {
	display: flex;
	align-content: row;
	align-items: center;
	justify-content: space-between;
}

button {
	font-size: 20px;
	text-rendering: auto;
	color: buttontext;
	display: inline-block;
	text-align: center;
	align-items: center;
	box-sizing: border-box;
	background-color: buttonface;
	padding: 1px;
	border-width: 2px;
	border-radius: 10px;
	border-style: outset;
	border-color: navy;
}

a {
	text-decoration: none;
	color: navy;
}

button:hover {
	/* border-bottom-color: black; */
	border: 2px solid rgb(6, 70, 99, 0.9);
}

.button-s {
	margin-top: 10px;
	text-align: center;
}