@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}
body {
	background-color: white;
	height: 100vh;
	overflow: hidden;
}

a {
	color: #92badd;
	display: inline-block;
	text-decoration: none;
}

h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin: 40px 8px 10px 8px;
	color: #cccccc;
}

/* STRUCTURE */
.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 77%;
	padding-bottom: 0px;
	background-color: white;
	justify-content: flex-start;
}

.formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 0px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	    box-shadow: 1px 5px 5px 5px rgb(0 0 0 / 12%);
	text-align: center;
}

#formFooter {
	background-color: rgb(236, 179, 101, 0.3);
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

h2.active {
	color: #0d0d0d;
	margin-bottom:30px;
	border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/
.inputs {
	background-color: rgb(25, 25, 112, 1.9);
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	box-shadow:0 10px 30px 0 rgba(95, 186, 233, 0.4);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 10px 20px 10px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.inputs:hover {
	background-color:  0 10px 30px 0 rgba(95, 186, 233, 0.4);
}

.inputs:active {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

.inputa {
	background-color: #e4e4e7;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 85%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.inputa:focus {
	background-color: #fff;
	border-bottom: 2px solid rgb(25, 25, 112, 1.9);
}

.inputa:placeholder {
	color: #0080c0;
}


/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
	display: block;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 2px;
	background-color: rgb(25, 25, 112, 1.5);
	content: "";
	transition: width 0.2s;
}

.underlineHover:hover {
	color: #0d0d0d;
}

.underlineHover:hover:after {
	width: 100%;
}

/* OTHERS */
*:focus {
	outline: none;
}

* {
	box-sizing: border-box;
}

footer {
	padding: 5px;
	background-color: #04293A;
	color: #ECB365;
	text-shadow: black;
	text-align: center;
	text-shadow: black;
	text-shadow: black;
}

.text-danger {
	color: red;
	font-size: 15px;
}

span {
	padding-right: 40px;
	color: navy;
}

.logo {
	padding-left: 20px;
	font-size: 150%;
	flex-wrap: inherit;
	padding-top: 7px;
	padding-bottom: 6px;
	color: #ECB365;
	border-radius: 50px;
	background-color: rgb(6, 70, 99, 0.9);
	padding-right: 22px;
	color: #ECB365;
	height: 50%;
}

.navbar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
	background-color: white;
	overflow: hidden;
	align-content: center;
}

.navbar a {
	float: left;
	color: rgb(6, 70, 99);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 17px;
}

.navmenu {
	font-size: 20px;
	float: right;
	display: flex;
	justify-content: space-between;
	float: right;
	flex-wrap: nowrap;
	align-items: center;
	padding: 10px;
	padding-top: 0px;
}

.navbar a:hover {
	background-color: rgb(236, 179, 101, 0.3);
}

.menu-list {
	padding: 0px;
}