* {
	margin: 0;
	padding: 0;
}

body {
	display: block;
	overflow-x: hidden;
}

h1 {
	color: navy;
	text-align: center;
	font-family: sans-serif;
	margin-top: 1px;
}

/* Style the navigation bar */
.navbar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
	background-color: white;
	overflow: hidden;
	align-content: center;
}

/* Navbar links */
.navbar a {
	float: left;
	color: rgb(6, 70, 99);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 17px;
}

.navmenu {
	font-size: 20px;
	float: right;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	padding: 10px;
	padding-top: 0px;
}

.menu-list {
	padding: 0px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
	background-color: rgb(236, 179, 101, 0.3);
}

.logo {
	padding-left: 20px;
	font-size: 150%;
	flex-wrap: inherit;
	padding-top: 7px;
	padding-bottom: 6px;
	border-radius: 50px;
	background-color: rgb(6, 70, 99, 0.9);
	padding-right: 22px;
	color: #ECB365;
	height: 50%;
}

span {
	padding-right: 40px;
	color: navy;
}

.main{
	margin: 1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.bodyleft{
	padding: 220px;
    height: 76%;
    width: 100%;
    border: 2px;
}
.dashboard {
	background-color: #074968;
	height: 50px;
	padding: 0;
	margin: 0;
	width: 100%;
}

.dropdown {
	float: left;
	overflow: hidden;
	color: #feeee0;
}

.dropdown .dropbtn {
	font-size: 23px;
	border: none;
	outline: none;
	color: #ffffff;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dashboard a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(236, 179, 101);
	color: navy;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	background-color: FF00FF;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: FF00FF;
}

#root {
	background-color: rgb(236, 179, 101, 0.3);
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 90px;
	padding: 15px;
	border-radius: 10px;
}


#form {
	border: 2px;
	border-color: navy;
	margin: auto;
	width: 65%;
	line-height: 30px;
	padding: 15px;
}

.text-danger {
	color: red;
	font-size: 15px;
}

footer {
	padding: 10px;
	background-color: #04293A;
	color: #ECB365;
	text-shadow: black;
	text-align: center;
}